<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Bearer" value="Bearer Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE0ODMwMDYxNTIsImV4cCI6MTQ4MzAwOTc1MiwiaXNzIjoibG9jYWxob3N0OjgwMDAiLCJzdWIiOiJ0ZXN0QHRlc3QuZGUiLCJqdGkiOiJmMjNiOThkNi1mMjRlLTRjOTQtYWE5Ni1kMWI4M2MzNmY1MjAifQ.QegeWHWetw19vfgOvkTCsBfaSOPnjakhzzRjVtNi-2Q"/>
		<add key="ConnectionStringDB" value= "server = 127.0.0.1; uid = root; pwd = kosmos; database = opensensmap"/>
	</appSettings>
</configuration>